<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/productos.usuarios.css">
    <title>Productos disponibles</title>
</head>

<body>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Encabezado -->
        <div class="barra-principal">
            <!-- logo pagina -->
            <div class="logo"><img src="../img/dataflow-poppins-orange-.png" alt="" class="logo-bp"></div>
            <!-- Titulo de la pagina -->
            <div class="title">
                Nuestros Productos disponibles...
            </div>
            <!-- Logo carrito de compras -->

        </div>

        <!-- Barra de botones -->
        <div class="barra-dos">

            <!-- Boton perfil -->
            <div class="btn-perfil">
                <a href="/dash/perfilu" class="btn-perfil">Mi Perfil</a>
            </div>

            <!-- div barra de busqueda -->
            <div class="sobresaliente">
                <img src="../img/lupa.png" alt="log_buscar" class="lupa">
                <!-- Barra de busqueda -->
                <input id="datos-busqueda" type="text" placeholder="Nombre del producto">
                <div id="result-busqueda"></div>

            </div>
        </div>

        <!-- Productos -->
        <div class="inventory-container"> <!-- contenedor del inventario -->

            <ul class="inventory-list" id="data">
            </ul>

        </div><!-- Cierre del contenedor del inevnatrio -->
         
>

    </div>
    <!-- swal -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- js -->
    <script src="../js/productos.usuarios.js"></script>
</body>

</html>