<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/login.css">
  <title>Inicio de Sesi칩n</title>
</head>

<body>
  <!-- Contenedor principal -->
  <div class="container">
    <!-- Contenedor del login -->
    <div class="main">
      <!-- Titulo -->
      <div class="titulo"><b>Iniciar Sesi칩n</b></div>

      <!-- Primer input 'correo'-->
      <div class="t-correo">
        <input type="text" class="correo" placeholder="Correo" id="email" required>
      </div>

      <!-- Segundo input 'contrase침a' -->
      <div class="t-password">
        <input type="password" class="password" placeholder="Contrase침a" id="password" required>
      </div>

      <!-- Boton 'Ingresar' -->
      <button id="btn-ingresar" onclick="login();" > <b>Ingresar</b></button>

      <!-- Boton 'Regresar' -->
      <button id="btn-regresar" onclick="backlogin();"> <b>Regresar</b> </button>
    </div>
  </div>

  <input type="hidden" id="url" value="<%= url %>">

  <!-- swal -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- js -->
  <script src="./js/login.js"></script>
</body>

</html>