<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="../css/editarperfilU.css">
</head>

<body>
    <!-- Contenedor principal -->
    <div class="container">

        <!-- Barra Principal -->
        <div class="barra-principal">
            <div class="img-user"><img src="../img/user.png" alt=""></div>
            <div class="nom-user">Victoria</div>
            <div class="logo-bus"><img src="../img/lupa.png" alt="" class="lupa"></div>
            <div class="barra-busqueda">
                <input id="datos-busqueda" type="text" placeholder="Buscar...">
                <div id="result-busqueda"></div>
            </div>
        </div>

        <!-- Barra del Medio -->
        <div class="barra-half">

            <!-- Menu -->
            <div class="barra-menu" id="menu">
                <a href="/dash/perfilu" class="elemento1" >Volver</a>
                <a href="#" class="elemento" onclick="mostrarSegundaVentana()"><center>Actualizar Datos</center></a>
            </div>

            <!-- Ventana de EDITAR PERFIL -->
            <div class="main" id="main">


                <!-- segunda ventana 'ACTUALIZAR DATOS' -->
                <div class="second-ventana" id="segundaVentana" >
                    <!-- Encabezado -->
                    <div class="barra" id="barra">
                        <!-- foto del perfil -->
                        <div class="user">
                            <img src="../img/user.png" alt="" class="img-ventana">
                        </div>
                        <!-- Nom usuario -->
                        <div class="nom-ventana">Victoria</div>
                    </div>

                    <!-- Contenido -->
                    <div class="content-one">
                        Correo Electr칩nico
                        <input type="email" name="email" placeholder="Ingrese su correo electr칩nico">
                    </div>
                    <div class="content-one">
                        Usuario
                        <input type="text" name="username" placeholder="Ingrese su nombre de usuario">
                    </div>
                    <div class="content-one">
                        Contrase침a
                        <input type="password" name="password" placeholder="Ingrese su contrase침a">
                    </div>
                    <div class="content-one">
                        Documento de Identidad
                        <input type="text" name="document" placeholder="Ingrese su documento de identidad">
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
<script src="../js/editarperfilU.js"></script>
</body>

</html>