* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
    background-image: url(/img/burbujas.jpg);
    overflow-x: hidden;
}

/* Contenedor principal */
.container {
    width: 100vw;
    height: 100vh;
}


/* Encabezado */
.barra-principal {
    width: 100%;
    height: 15%;
    border-bottom: #be9947 solid 2px;
    display: grid;
    grid-template-columns: 2fr 5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
}

/* Logo principal */
.logo img {
    width: 290px;
    height: 60px;
}

/* Titulo de la pagina */
.title {
    color: #be9947;
    font-weight: bold;
    margin-left: 25px;
    font-size: 37px;
    display: flex;
    align-items: center;
}

/* Divs que contienen imagenes */
.logo,
.logo-carrito,
.logo-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.barra-dos {
    width: 100%;
    height: 15%;
    background-color: #f2ce632c;
    border-bottom: #be9947 solid 2px;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr 1fr;
    grid-template-rows: 1fr;
}

/* DIV del Boton 'mi perfil' */
.btn-bd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* quitar estilos predeterminadols del Boton 'mi perfil' */
a {
    text-decoration: none;
}

/* Boton 'mi perfil' */
.btn-bd a,
.btn-perfil a {
    color: white;
    border: solid white 3px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}

/* Boton 'mi perfil' al pasar el cursor */
.btn-bd a:hover,
.btn-perfil a:hover {
    transition: 400ms;
    background-color: rgba(242, 206, 99, 0.466);
    border: solid #be9947 4px;
    font-size: 30px;
}


/* Div que sobresale */
.sobresaliente {
    margin-top: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* barra de busqueda */
.sobresaliente input[type="text"] {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    outline: none;
}

/* Estilos CSS para el placeholder */
::placeholder {
    color: rgba(0, 0, 0, 0.76);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* logo buscar */
.lupa {
    width: 30px;
    margin-right: 15px;
}


/* PRODUCTOS */
/* CONTENEDOR DEL INVENTARIO LAS HERRAMIENTAS */
.inventory-container {
    width: 100%;
    height: auto;
    padding: 15px;
}

/* la lista de las herramientas */
.inventory-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: start;
}


/* Cada licor */
.card {
    width: 230px;
    height: 400px;
    background-color: #cfae40;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
}

/* Contenedor de la imagen de la herramienta */
.cont-img {
    width: 100%;
    height: 180px;
    border-bottom: 2px solid rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-img img {
    width: 90%;
    height: 100%;
}

/* Contenedor del texto y boton */
.card-body {
    padding: 15px;
}

/* titulo de el producto */
.card-title {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Descripcion del producto */
.card-text {
    font-size: 17px;
    margin-bottom: 10px;
}

/* Contenido de la carta */
.cont-btn {
    width: 100%;
    display: flex;
}

/* BTON WAHTSAPP */
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
  }
  
  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }
  
  
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  